/* COMMON */

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
}

/* END OF COMMON */

/* MAIN */

.cars-container {
    display: flex;
    flex-direction: column;
    margin: 3rem 1.5rem;
    border-radius: 20px;
    overflow: hidden;
}

.car-container {
    display: flex;
    padding: 40px;
    color: white;
    flex-direction: column;
}

.car-container-1 {
    background-color: hsl(31, 77%, 52%);
}

.car-container-2 {
    background-color: hsl(184, 100%, 22%)
}

.car-container-3 {
    background-color: hsl(179, 100%, 13%)
}

.car__header {
    text-transform: uppercase;
    font-family: 'Big Shoulders Display';
    font-weight: 700;
    font-size: 2.5rem;
    margin: 1rem 0;
}

.car__description {
    font-family: 'Lexend Deca';
    margin-bottom: 2.5rem;
    font-weight: 400;
    flex-grow: 1;
}

.cta__button {
    background-color: white;
    text-align: center;
    outline: none;
    border: none;
    height: 40px;
    width: 130px;
    border-radius: 20px;
    font-family: 'Lexend Deca';
    cursor: pointer;
    transition: 0.5s;
}

.cta__button:hover {
    background-color: transparent;
    color: white;
    border: 2px solid white
}

.cta__button-1 {
    color: hsl(31, 77%, 52%);
}

.cta__button-2 {
    color: hsl(184, 100%, 22%);
}

.cta__button-3 {
    color: hsl(179, 100%, 13%);
}

/* FOOTER */

.footer {
    margin-bottom: 1rem;
    margin-top: auto;
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: hsl(179, 100%, 13%);
}

.attribution a {
    text-decoration: none;
    color: hsl(31, 77%, 52%);
    transition: 0.5s;
}

.attribution a:hover {
    color: hsl(184, 100%, 22%);
    ;
}

/* END OF FOOTER */

@media(min-width:768px) {
    .cars-container {
        margin: 5rem 3rem;
    }
    .car__header {
        font-size: 3.5rem;
    }
    .car__description {
        font-size: 2rem;
    }
    .cta__button {
        height: 80px;
        width: 260px;
        font-size: 1.7rem;
        border-radius: 40px;
    }
    .attribution {
        font-size: 22px;
    }
    .car__icon {
        height: 60px;
    }
}

@media(min-width:1025px) {
    .cars-container {
        flex-direction: row;
    }
    .cta__button {
        margin-top: 40px;
    }
    .car__header {
        font-size: 3.3rem;
        margin: 1rem 0;
    }
    .car__description {
        font-size: 1.2rem;
    }
    .cta__button {
        height: 60px;
        width: 195px;
        font-size: 1.2rem;
        border-radius: 30px;
    }
    .attribution {
        font-size: 1rem;
    }
    .body {
        overflow: hidden;
    }
}